{% extends "index.html" %}


{% block content %}
    

    <div class="row">
        <div class="col-lg-2">
                <h5>{{ name }}</h5>
        </div>

        <div class="col-lg-10">
            <div id="products"> 
                    {% for product in products %}
                        <div class=col-lg-2>
                            <a href="/{{ product.url }}">{{ product.title }}</a>
                        </div>
                    {% endfor %}

            </div>
        </div>
    </div>

    <h5>sadasdsa</h5>
{% endblock %}


