{% extends "index.html" %}


{% block content %}
<h1>{{ name }}</h1>
<div class="row">
    <a href="/admin/page">Добавить страницу</a>


    <div class="col-lg-12">

        <div class="col-lg-12">
            <div class="col-lg-1">ID</div>
            <div class="col-lg-4">Название</div>
            <div class="col-lg-7">Описание</div>
        </div>


        {% for page in pages %}
        <div class="col-lg-12">
            <div class="col-lg-1">{{ page.id }}</div>
            <div class="col-lg-4">
                <a href="/admin/page?id={{ page.id }}">
                    {{ page.title }}
                </a>
            </div>
            <div class="col-lg-7">{{ page.content }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
